@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Regular.ttf") format(truetype);
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color: #ffffff;
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    margin:0 auto;
}
.container .row{
    width: 1160px;
    margin:0 auto;
}
.container .hero{
    background-image: url("../images/hero_bg.png");
    position: relative;
}
.container .row header {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.container .row header .header__logo a{
    display: flex;
    align-content: center;
}
.container .row header .header__logo a span{
    line-height: 54px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Poppins";
}
.container .row header .header__nav{
    line-height: 54px;
}
.container .row header .header__nav ul{
    display: flex;
    list-style: none;
}
.container .row header .header__nav ul li a{
    font-family: "Poppins";
    color:#89939E;
    margin-left:40px;
}
.container .row header .header__nav ul li .active{
    color:#ffffff;
    font-weight: 600;
}
.container .row header .header__login a{
    display: block;
    line-height: 54px;
    border:1px solid #ffffff;
    border-radius: 7px;
    width: 100px;
    text-align: center;
    font-family: "Poppins";
}
.container .row .hero__title{
    font-family: 'Inter';
    font-size: 90px;
    line-height: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:80px;
    color:#373737;
}
.container .row .hero__title span{
    color:#8CE25A;
}
.container .row .hero__img{
    margin-top:50px;
    text-align: center;
}
.container .row .hero__img img{
    padding-bottom:5px;
    width: 99%;
    border-radius: 10px;
    position: relative;
}
.container .row .hero__img .hero__left__radius{
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    border-top-right-radius: 45px;
    position: absolute;
    left:0px;
    bottom:0px;
}
.container .row .hero__img .hero__left__radius::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right:-10px;
    bottom:-4.8px;
    background-color: #212121;
    border-left:5px solid #ffffff;
    border-bottom:5px solid #ffffff;
    border-bottom-left-radius: 20px;
}
.container .row .hero__img .hero__right__radius{
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    border-top-left-radius: 45px;
    position: absolute;
    right:0px;
    bottom:0px;
}
.container .row .hero__img .hero__right__radius::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left:-10px;
    bottom:-4.8px;
    background-color: #212121;
    border-right:5px solid #ffffff;
    border-bottom:5px solid #ffffff;
    border-bottom-right-radius: 20px;
}
.container .works .row h1{
    color:black;
}