@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}
@font-face{
    font-family: "Poppins600";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format(truetype);
}
@font-face{
    font-family: "Poppins800";
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format(truetype);
}
@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-Regular.ttf") format(truetype);
}
@font-face{
    font-family: "Inter600";
    src: url("../fonts/Inter/Inter-SemiBold.ttf") format(truetype);
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    margin:0 auto;
}
.container .row{
    width: 1160px;
    margin:0 auto;
}
.hero{
    background-image: url("../images/hero_bg.png");
    position: relative;
}
header {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header .header__logo a{
    display: flex;
    align-content: center;
}
header .header__logo a span{
    line-height: 54px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Poppins";
}
header .header__nav{
    line-height: 54px;
}
header .header__nav ul{
    display: flex;
    list-style: none;
}
header .header__nav ul li a{
    font-family: "Poppins";
    color:#89939E;
    margin-left:40px;
}
header .header__nav ul li .active{
    color:#ffffff;
    font-weight: 600;
}
header .header__login a{
    display: block;
    line-height: 54px;
    border:1px solid #ffffff;
    border-radius: 7px;
    width: 100px;
    text-align: center;
    font-family: "Poppins";
}
.hero__title{
    font-family: 'Inter600';
    font-size: 85px;
    line-height: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:80px;
    color:#fff;
}
.hero__title span{
    color:#8CE25A;
}
.hero__img{
    margin-top:50px;
    text-align: center;
}
.hero__img img{
    margin-bottom:5px;
    width: 1150px;
    border:5px solid #212121;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}
.hero__img .hero__left__radius{
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    border-top-right-radius: 45px;
    position: absolute;
    left:0px;
    bottom:0px;
}
.hero__img .hero__left__radius::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right:-10px;
    bottom:-4.8px;
    background-color: #212121;
    border-left:5px solid #ffffff;
    border-bottom:5px solid #ffffff;
    border-bottom-left-radius: 20px;
}
.hero__img .hero__right__radius{
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    border-top-left-radius: 45px;
    position: absolute;
    right:0px;
    bottom:0px;
}
.hero__img .hero__right__radius::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left:-10px;
    bottom:-4.8px;
    background-color: #212121;
    border-right:5px solid #ffffff;
    border-bottom:5px solid #ffffff;
    border-bottom-right-radius: 20px;
}
.content__tittles{
    margin-top:50px;
    font-family: "Poppins800";
    font-size: 108px;
    color:black;
}
.works .works__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.works .works__cards .works__cards-card{
    width: 540px;
    border:1px solid #E4E4E4;
    border-radius: 20px;
    margin:20px;
}
.works .works__cards .works__cards-card .works__card__row{
    margin:30px;
    display:flex;
    justify-content: space-between;
}
.works .works__cards .works__cards-card .works__card__row .works__card-icon{
    width: 20%;
}
.works .works__cards .works__cards-card .works__card__row .works__card-text{
    width: 73%;
}
.works .works__cards .works__cards-card .works__card__row .works__card-text .card__text-title{
    font-family: "Poppins600";
    font-size: 24px;
    color:black;
}
.works .works__cards .works__cards-card .works__card__row .works__card-text .card__text-text{
    font-family: "Poppins";
    font-size: 18px;
    color:black;
}
.mentors__card{
    padding:50px;
    background-color:black;
    border-radius:20px;
}
.mentors__card .mentors__card__row{
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}
.mentors__card .mentors__card__row .mentors__card-left{
    width: 45%;
}
.mentors__card .mentors__card__row .mentors__card-left img{
    width: 95%;
}
.mentors__card .mentors__card__row .mentors__card-right{
    width: 50%;
}
.mentors__card .mentors__card__row .mentors__card-right .main-tittle{
    font-family: "Poppins600";
    font-size: 35px;
}
.mentors__card .mentors__card__row .mentors__card-right .sub-tittle{
    font-family: "Poppins";
    font-size: 18px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list{
    margin-top:30px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list ul{
    list-style: none;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list ul li{
    width: 80%;
    font-size: 14.5px;
    line-height:2rem;
    margin-top:10px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list ul li::before{
    content:url("../images/list-img.png");
    vertical-align: middle;
    padding-top:10px;
    margin-right:10px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-btn{
    margin-top:20px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-btn a{
    font-family: "Inter";
    padding:15px;
    color: #2A4A45;
    background-color: #8CE25A;
    border-radius:30px;
    font-size: 15px;
    margin-top:20px;
}
.author{
    font-family: "Inter";
    font-size: 15px;
    color:#969696;
    margin-top:20px;
}