@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}
@font-face{
    font-family: "Poppins600";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format(truetype);
}
@font-face{
    font-family: "Poppins800";
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format(truetype);
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins";
    transition: all .3s;
}
a{
    text-decoration: none;
}
.container{
    width: 1440px;
    margin:0 auto;
}
.container .row{
    width: 1160px;
    margin:0 auto;
}
.hero{
    background-image: url("../images/hero_bg.png");
    position: relative;
}
header {
    padding-top:50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header .header__logo a{
    display: flex;
    align-content: center;
    color: #fff;
}
header .header__logo a span{
    line-height: 54px;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Poppins";
}
header .header__nav{
    line-height: 54px;
}
header .header__nav ul{
    display: flex;
    list-style: none;
}
header .header__nav ul li a{
    font-family: "Poppins";
    color:#89939E;
    margin-left:40px;
}
header .header__nav ul li .active{
    color:#ffffff;
    font-weight: 600;
}
header .header__login a{
    display: block;
    line-height: 54px;
    color: #fff;
    border:1px solid #ffffff;
    border-radius: 7px;
    width: 100px;
    text-align: center;
    font-family: "Poppins";
}
.hero__title{
    font-family: 'Poppins600';
    font-size: 85px;
    line-height: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:80px;
    color:#fff;
}
.hero__title span{
    color:#8CE25A;
}
.hero__img{
    margin-top:50px;
    text-align: center;
}
.hero__img img{
    margin-bottom:5px;
    width: 1150px;
    border:5px solid #212121;
    border-radius: 10px;
    position: relative;
    z-index: 5;
}
.hero__img .hero__left__radius{
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    border-top-right-radius: 45px;
    position: absolute;
    left:0px;
    bottom:0px;
}
.hero__img .hero__left__radius::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right:-10px;
    bottom:-4.8px;
    background-color: #212121;
    border-left:5px solid #ffffff;
    border-bottom:5px solid #ffffff;
    border-bottom-left-radius: 20px;
}
.hero__img .hero__right__radius{
    width: 135px;
    height: 135px;
    background-color: #ffffff;
    border-top-left-radius: 45px;
    position: absolute;
    right:0px;
    bottom:0px;
}
.hero__img .hero__right__radius::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left:-10px;
    bottom:-4.8px;
    background-color: #212121;
    border-right:5px solid #ffffff;
    border-bottom:5px solid #ffffff;
    border-bottom-right-radius: 20px;
}
.content__tittles{
    margin-top:50px;
    font-family: "Poppins800";
    font-size: 108px;
    color:black;
}
.works__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.works__cards .works__cards-card{
    width: 540px;
    border:1px solid #E4E4E4;
    border-radius: 20px;
    margin:20px;
}
.works__cards .works__cards-card:hover{
    background-color: #212121;
}
.works__cards .works__cards-card .works__card__row{
    margin:30px;
    display:flex;
    justify-content: space-between;
}
.works__cards .works__cards-card .works__card__row .works__card-icon{
    width: 20%;
}
.works__cards .works__cards-card .works__card__row .works__card-icon i{
    color:#E4E4E4;
    font-size: 90px;
}
.works__cards .works__cards-card:hover .works__card__row .works__card-icon i{
    color:#8CE25A;
}
.works__cards .works__cards-card .works__card__row .works__card-text{
    width: 73%;
}
.works__cards .works__cards-card .works__card__row .works__card-text .card__text-title{
    font-family: "Poppins600";
    font-size: 24px;
    color:black;
}
.works__cards .works__cards-card:hover .works__card__row .works__card-text .card__text-title{
    color:#fff;
}
.works__cards .works__cards-card .works__card__row .works__card-text .card__text-text{
    font-family: "Poppins";
    font-size: 18px;
    color:black;
}
.works__cards .works__cards-card:hover .works__card__row .works__card-text .card__text-text{
    color:#fff;
}
.mentors__card{
    padding:50px;
    background-color:black;
    border-radius:20px;
}
.mentors__card .mentors__card__row{
    margin:0px auto;
    display: flex;
    justify-content: space-between;
}
.mentors__card .mentors__card__row .mentors__card-left{
    width: 45%;
}
.mentors__card .mentors__card__row .mentors__card-left img{
    width: 95%;
}
.mentors__card .mentors__card__row .mentors__card-right{
    width: 50%;
}
.mentors__card .mentors__card__row .mentors__card-right .main-tittle{
    color:#fff;
    font-family: "Poppins600";
    font-size: 35px;
}
.mentors__card .mentors__card__row .mentors__card-right .sub-tittle{
    color:#fff;
    font-family: "Poppins";
    font-size: 18px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list{
    margin-top:30px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list ul{
    list-style: none;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list ul li{
    width: 80%;
    font-size: 14.5px;
    line-height:2rem;
    margin-top:10px;
    color:#fff;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-list ul li::before{
    content:url("../images/list-img.png");
    vertical-align: middle;
    padding-top:10px;
    margin-right:10px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-btn{
    margin-top:20px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-btn a{
    padding:10px 15px;
    color: #fff;
    border:1px solid #fff;
    border-radius:30px;
    font-size: 15px;
    margin-top:20px;
}
.mentors__card .mentors__card__row .mentors__card-right .mentors__card-btn a:hover{
    padding:10px 15px;
    background-color: #8CE25A;
    border:1px solid #8CE25A;
}
.author{
    font-family: "Poppins";
    font-size: 15px;
    color:#969696;
    margin-top:20px;
}
.universal_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.universal_card{
    width: 340px;
    border:1px solid #E9E9E9;
    border-radius: 15px;
    margin:20px;
    overflow: hidden;
}
.universal_card .card-body{
    padding:20px;
}
.universal_card .card-body .card-title{
    font-family: "Poppins600";
    font-size: 22px;
    margin-top:5px;
}
.universal_card .card-body .card-text{
    margin-top:5px;
}
.universal_card .card-body .card-data{
    color:#697586;
    margin-top:10px;
}
.universal_card .card-body .card-link{
    font-family: "Poppins600";
    padding:10px 15px;
    color: #8CE25A;
    border:1px solid #8CE25A;
    border-radius:30px;
    font-size: 15px;
    margin-top:10px;
    display: inline-block;
}
.universal_card .card-body .card-link:hover{
    background-color: #8CE25A;
    color:#fff;
}
.universal_card .card-body .card-status{
    padding:5px 15px;
    border-radius:30px;
    font-size: 15px;
    display: inline-block;
    border:1px solid #969696;
}
.universal_card .card-body .active{
    background-color: #8CE25A;
}
.courses__cards{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.courses__card{
    width: 360px;
    margin:20px 10px;
    border-radius:10px;
    border:1px solid #E9E9E9;
}
.courses__card .card-img-top{
    width: 100%;
}
.courses__card .card__body{
    padding:10px 15px;
    display: flex;
    align-content: center;
}
.courses__card .card__body img{
    flex-grow: 1;
}
.courses__card .card__body p{
    margin-left:20px;
    flex-grow: 12;
    line-height: 40px;
}
.page{
    background-color: black;
    height: 150px;
}
.maqola_page .page__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page__header .page__title{
    display: flex;
    width: 400px;
}
.page__header .page__title i{
    margin-top:50px;
    font-size: 80px;
}
.page__header .page__title span{
    font-family: "Poppins600";
    font-size: 40px;
    margin-left:20px;
    margin-top:30px;
}
.page__header .page__filter{
    margin-top:60px;
    height: 60px;
    display: flex;
}
.page__header .page__filter-btn{
    padding:20px 50px;
    display: block;
    color:black;
}
.page__header .page__filter-btn.active{
    background-color: #F3F3F3;
    border-radius: 3px;
}
footer{
    margin-top:50px;
    background-color: #212121;
}
.footer__cols{
    padding:50px;
    display: flex;
}
.footer__col-info{
    width: 350px;
    margin:0px 20px;
}
.footer__col-info p{
    color:white;
}
.footer__col-menu ul{
    list-style: none;
    display: flex;
}
.footer__col-menu ul li a{
    display: block;
    margin:40px 15px;
    color:white;
}
.footer__col-menu ul li a:hover{
    color:gray;
}
.mentors__hero{
    background-color: black;
    height: 150px;
}
.mentor_page .page__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mentor_page .page__header .page__title span{
    margin-top:50px;
}
.mentors__infocard{
    height: 100vh;
    margin-top:50px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}
.mentors__infocard .infocard{
    border:1px solid #E9E9E9;
    border-radius: 10px;
    width: 280px;
    overflow:hidden;
}
.mentors__infocard .infocard .card-img-top{
    width: 100%;
    padding: 5px;
    border-radius: 15px;
}
.infocard .card-body{
    padding: 0px 12px 5px 12px;
}
.infocard .card-body .card-title{
    font-family: "Poppins800";
    font-size: 14px;
}
.infocard .card-body .card-flag{
    margin-left:5px;
    width: 25px;
}
.infocard .card-body .card-text span{
    color: #65676C;
    font-size: 14px;
}
.infocard .card-body .card-referal a{
    color: #00C2FF;
    font-size: 14px;
}
.infocard .card__footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #77B255;
}
.infocard .card__footer .card__footer-left{
    font-size: 12px;
    color: #AFEF8A;
    width: 40%;
}
.infocard .card__footer .card__footer-left span{
    font-family: "Poppins600";
    color: #fff;
}
.infocard .card__footer .card__footer-right{
    text-align: right;
    font-size: 12px;
    color: #AFEF8A;
    width: 50%;
}
.infocard .card__footer .card__footer-right span{
    font-family: "Poppins600";
    color: #fff;
}


.scroll-up{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
.content__header{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}
.content__header .content__header-author{
    display: flex;
    justify-content: space-between;
}
.content__header-author .author-info{
    margin:5px 15px;
}
.content__header .content__header-side{
    margin-top:10px;
    color:#697586;
}
.content .content__body{
    margin:15px 5px;
}
.content .content__body .content__body-hero{
    display: flex;
}
.content .content__body .content__body-hero .content__body-info{
    margin:5px 50px;
}
.content .content__body .content__body-hero .content__body-info .body__info-text{
    margin-top:10px;
}
.content .content__body .content__body-text{
    margin:30px 5px;
}